@model SchoolManagement.ViewModel.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangeAdminPassword";
}

<div class="card">
    <div class="card-header bg-info">
        <h2 class="text-center" style="color:white">Change Password</h2>
    </div>
    <div class="card-body">
        @{
            if (ViewBag.ErrorMsg != null)
            {
                <div class="row">
                    <div class="col-6 offset-3 bg-light p-2">
                        <div class="text-danger font-weight-bold text-center">@ViewBag.ErrorMsg</div>
                    </div>
                </div>
            }
        }
        @{
            if (ViewBag.SuccessMsg != null)
            {
                <div class="row">
                    <div class="col-6 offset-3 bg-light p-2">
                        <div class="text-success font-weight-bold text-center">@ViewBag.SuccessMsg</div>
                    </div>
                </div>
            }
        }

        <br />
        <div class="row">
            <div class="col-md-4 offset-4">
                <form asp-action="ChangeAdminPassword" method="post">
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Current Password</label>
                        <input asp-for="CurrentPassword" type="password" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label class="control-label font-weight-bold">New Password</label>
                        <input asp-for="NewPassword" type="password" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label class="control-label font-weight-bold">Confirm Password</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Change Password" class="btn btn-block btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

